%footer.footer
  %small
    = t('views.home.the')
    %a{href: 'https://www.railstutorial.org/'}
      = t('views.home.tutorial')
    = t('views.home.by')
    %a{href: 'http://www.michaelhartl.com/'}
      = t('views.home.author')
  %nav
    %ul
      %li= link_to t('views.home.about'), about_path
      %li= link_to t('views.home.contact'), contact_path
      %li= link_to t('views.home.news'), news_path
