- provide :title, t('views.home.about')

%h1= t('views.home.about')
%p
  = t('views.home.the')
  %a{href: 'https://www.railstutorial.org/'}
    %em= t('views.home.tutorial')
  = t('views.home.is_a')
  %a{href: 'https://www.railstutorial.org/book'}= t('views.home.book')
  = t('views.home.and')
  %a{href: 'http://screencasts.railstutorial.org/'}= t('views.home.screen')
  = t('views.home.teach')
  %a{href: 'http://rubyonrails.org/'}= t('views.home.ror')
